@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("/img/bg.jpg") center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.hideContent {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}



@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');


h1 { 
  margin-bottom: 3%;
  text-align: center; 
  color: white; 
  font-size: 8em; 
  transition: 0.5s; 
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Catamaran', sans-serif;
  font-style: italic;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 
  0 3px 0 #ccc, 0 4px 0 #ccc, 
  0 5px 0 #ccc, 0 6px 0 #ccc, 
  0 7px 0 #ccc, 0 8px 0 #ccc, 
  0 9px 0 #ccc, 0 10px 0 #ccc, 
  0 11px 0 #ccc, 0 12px 0 #ccc, 
  0 20px 30px rgba(0, 0, 0, 0.5); 
} 


.doc_link {
  position:absolute;
  top:0;
  right:0;
  float: right;
  font: bold 18px Arial;
  text-decoration: none;
  background-color: #4355bd;
  color: #ffffff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  cursor: pointer;
}

.doc_link:hover {
  background-color: #50598f;
}

#setup {
  background: #f8f4e5;
  padding: 50px 100px;
  border: 2px solid black;
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
}

input {
  display: block;
  width: 100%;
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid black;
  background: #f8f4e5;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: black;
}

input:focus {
  border-bottom: 5px solid #ffa580;
}

.btn-line {
  display: inline-block;
  margin-right: 2%;
  margin-top: 2%;
}

button:disabled,
button[disabled]{
  background: #d2cdcc;
  color: black;
  opacity: 0.4;
  pointer-events: none;
}

button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px black;
}
button:hover {
  background: black;
  color: white;
  border: 1px solid black;
}

::selection {
  background: #ffc8ff;
}

canvas {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    background: white;
}

#chat-history {
    height: 402px;
    overflow-y: scroll;
    background-color: #f7fbff;
}

#chat-input {
  width: 80%;
  display: inline-block;
}

#send {
  display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px 10px;
    background-color: #f7fbff;
    border: 1px solid #DDDDDD;
}

.word {
  text-align: center;
  margin-bottom: 4%;
  font-size: 24px;
  font-weight: 700;
  background: white;
  border: 2px solid black;
  box-shadow: 3px 3px 1px #ffa580, 3px 3px 1px 1px black;
  padding: 10px;
}

#drawingtools {
  margin-left: 10%;
  margin-right: 5%;
  width: 80%;
  margin-top: 2%;
}

.colors button {
    display: inline-block;
    border: 1px solid #00000026;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-bottom: 5px
  }
  
  .colors button:nth-of-type(1) {
    background-color: #0000ff;
  }
  
  .colors button:nth-of-type(2) {
    background-color: #009fff;
  }
  
  .colors button:nth-of-type(3) {
    background-color: #0fffff;
  }
  
  .colors button:nth-of-type(4) {
    background-color: #bfffff;
  }
  
  .colors button:nth-of-type(5) {
    background-color: #000000;
  }
  
  .colors button:nth-of-type(6) {
    background-color: #333333;
  }
  
  .colors button:nth-of-type(7) {
    background-color: #666666;
  }
  
  .colors button:nth-of-type(8) {
    background-color: #999999;
  }
  
  .colors button:nth-of-type(9) {
    background-color: #ffcc66;
  }
  
  .colors button:nth-of-type(10) {
    background-color: #ffcc00;
  }
  
  .colors button:nth-of-type(11) {
    background-color: #ffff00;
  }
  
  .colors button:nth-of-type(12) {
    background-color: #ffff99;
  }
  
  .colors button:nth-of-type(13) {
    background-color: #003300;
  }
  
  .colors button:nth-of-type(14) {
    background-color: #555000;
  }
  
  .colors button:nth-of-type(15) {
    background-color: #00ff00;
  }
  
  .colors button:nth-of-type(16) {
    background-color: #99ff99;
  }
  
  .colors button:nth-of-type(17) {
    background-color: #f00000;
  }
  
  .colors button:nth-of-type(18) {
    background-color: #ff6600;
  }
  
  .colors button:nth-of-type(19) {
    background-color: #ff9933;
  }
  
  .colors button:nth-of-type(20) {
    background-color: #f5deb3;
  }
  
  .colors button:nth-of-type(21) {
    background-color: #330000;
  }
  
  .colors button:nth-of-type(22) {
    background-color: #663300;
  }
  
  .colors button:nth-of-type(23) {
    background-color: #cc6600;
  }
  
  .colors button:nth-of-type(24) {
    background-color: #deb887;
  }
  
  .colors button:nth-of-type(25) {
    background-color: #aa0fff;
  }
  
  .colors button:nth-of-type(26) {
    background-color: #cc66cc;
  }
  
  .colors button:nth-of-type(27) {
    background-color: #ff66ff;
  }
  
  .colors button:nth-of-type(28) {
    background-color: #ff99ff;
  }
  
  .colors button:nth-of-type(29) {
    background-color: #e8c4e8;
  }
  
  .colors button:nth-of-type(30) {
    background-color: #ffffff;
  }

  .brushes {
    padding-top: 5px
  }
  
  .brushes button {
    display: inline-block;
    background: white;
    outline: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    padding: revert;
  }
  
  .brushes button:after {
    height: 1px;
    display: block;
    background: #0c0b0b;
    content: '';
  }
  
  .brushes button:nth-of-type(1):after {
    height: 1px;
  }
  
  .brushes button:nth-of-type(2):after {
    height: 2px;
  }
  
  .brushes button:nth-of-type(3):after {
    height: 3px;
  }
  
  .brushes button:nth-of-type(4):after {
    height: 4px;
  }
  
  .brushes button:nth-of-type(5):after {
    height: 5px;
  }
  

  #countdown-number {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
  }


